@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Tilt+Neon&display=swap");

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.home img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

/* SECTION - HOME */

.home {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  gap: 50px;
  background: rgb(67, 69, 112);
  background: #0B1D26ff;
  overflow: hidden;
  padding: 130px 80px;
}

.description {
  color: #fff;
  padding: 0 50px;
}

.description > h1 {
  font-family: "Tilt Neon", sans-serif;
  font-size: clamp(2.3rem, 5vw, 4rem);
  line-height: 1;
  margin-bottom: 30px;
}

.gradient-text {
  font-family: "Tilt Neon", sans-serif;
  background-image: #fff;
  color: #fff;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.description > p {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.item {
  max-width: 200px;
  aspect-ratio: 1/1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}








.main-content {
    /* margin-top: 100px; */
    display: flex;
    /* margin: 0 auto; */
    background: #0B1D26ff;
    margin-top: -14.1%;
    color: #fff;
    padding: 120px;
    align-items: center;
  }
  
  
  .main-content a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    font-family: initial;

    border-radius: 20px;
    /* font-size: clamp(0.9rem, 6vw, 1rem); */
  }
  
  .main-content a:hover,
  .main-content a.active {
    background: #12372A;
    color: #fff;
  }
  
  .guide {
    margin-top: 150px;
    width: 100%;
    height: 524px;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* margin-bottom: 7em; */
    z-index: 10;
  }
  /* .guides_content container{
    margin-left: 50px;
    width: 1068px;
  } */
  .guide:nth-of-type(2n) .guide_description {
    order: 2;
  }
  .guide_image {
    width: 50px;
    order: 1;
  }
  .guide_description {
    width: 53.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 6em 0 6em 6em;
    z-index: 1;
    position: relative;
  }
  .guide_number {
    position: absolute;
    top: 3.5%;
    left: 0;
    font-size: 10em;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: #fff2;
    z-index: -1;
  }
  .hero_pre-text {
    color: var(--accent);
    text-transform: uppercase;
    font-size: .77em;
    font-weight: 600;
    letter-spacing: .37em;
  }
  .hero_pre-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 4em;
    height: 1px;
    background: var(--accent);
    margin-right: 1.4em;
  }
  .guide_description h1 {
    font-family: initial;
    font-size: 3em;
    font-weight: 500;
  }
  .guide_text {
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.9em;
  }
  .more {
    display: flex;
  }
  .more_text {
    font-size: .7rem;
    margin-right: .6em;
    color: var(--accent);
    transition: all 150ms linear;
  }
  .more_icon {
    width: .9em;
    margin-top: -.035em;
    transition: all 200ms ease-in-out;
  }
  .more_icon svg {
    width: 100%;
  }
  .more:hover .more_text,
  .more:focus .more_text {
    margin-left: .5em;
  }
  .more:hover .more_icon,
  .more:focus .more_icon {
    transform: rotate(360deg);
    animation: arrow-active 300ms ease-in-out alternate infinite;
  }
  @keyframes arrow-active {
    from {
      margin-left: 0;
    }
    to {
      margin-left: .25em;
    }
  }
  .guide_image {
    width: 38.71%;
    user-select: none;
  }
  .guide_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  

