button{
    margin: 40px 700px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.job-list {
	float: left;
	width: 60%;
	padding: 20px;
    color: #fff;
}

.job {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
}

.job h3 {
	margin: 0;
}

.job p {
	margin: 0;
	color: #888;
}

.job button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px;
	margin-top: 10px;
}